In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("superstore.csv")
print("Initial dataset shape:", df.shape)

Initial dataset shape: (500, 6)

In [3]:
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
OrderID            0
ProductCategory    0
SubCategory        0
Region             0
Quantity           0
Sales              0
dtype: int64

In [4]:
df = df.drop_duplicates()
print("\nAfter removing duplicates, shape:", df.shape)

After removing duplicates, shape: (500, 6)

In [5]:
df["OrderID"] = df["OrderID"].astype(int)

In [6]:
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Sales"] = pd.to_numeric(df["Sales"], errors="coerce")

In [7]:
df["TotalSales"] = df["Quantity"] * df["Sales"]

In [11]:
df_encoded = pd.get_dummies(df, columns=["ProductCategory", "SubCategory", "Region"], drop_first=True)

print("\nFinal cleaned dataset sample:")
print(df.head())

Final cleaned dataset sample:
   OrderID ProductCategory SubCategory   Region  Quantity  Sales  TotalSales
0        1      Technology      Phones     East         9    266        2394
1        2       Furniture      Phones     East         2    142         284
2        3      Technology     Binders  Central         9    285        2565
3        4      Technology      Phones  Central         9    273        2457
4        5       Furniture      Chairs     West         8    180        1440

In [15]:
df.to_csv("superstore_clean.csv", index=False)